.App {
  text-align: center;
}

body{
  background-color:rgb(62, 102, 177) ;
}

.questions{
  background-color: rgb(66, 62, 99);
  width: 80%;
  height: auto;
  padding: 16px;
  color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin: auto;
  border-radius: 30px;
}

ul {
  list-style: none;
}

li{
  background-color: rgb(132, 113, 150);
  padding: 16px;
  border: 2px solid whitesmoke;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 8px;
}

.questionTxt{
  color: yellow;
}